.map-page{

    background:#071019;

    min-height:100vh;

    padding:30px;

}

.page-title{

    color:white;

    margin-bottom:25px;

    font-size:42px;

}

/* ========================= */

.map-layout{

    display:flex;

    gap:22px;

}

/* ========================= */

.sidebar-wrapper{

    width:320px;

    flex-shrink:0;

}

/* ========================= */

.map-content{

    flex:1;

    position:relative;

    transition:.35s;

}

/* ========================= */

.floating-layer-btn{

    position:absolute;

    top:15px;

    left:15px;

    z-index:100;

    background:#22c55e;

    color:white;

    border:none;

    border-radius:10px;

    padding:12px 18px;

    font-size:15px;

    font-weight:bold;

    box-shadow:0 5px 20px rgba(0,0,0,.25);

}

/* ========================= */

@media(max-width:992px){

.map-layout{

flex-direction:column;

}

.sidebar-wrapper{

width:100%;

}

}

@media(max-width:768px){

.map-page{

padding:18px;

}

.page-title{

font-size:30px;

}

}