.map-wrapper{
    width:100%;
    height:75vh;
    border-radius:20px;
    overflow:hidden;
    border:1px solid #1f2937;
    background:#111827;
    box-shadow:0 0 25px rgba(0,0,0,.25);
}

.google-map{
    width:100%;
    height:100%;
}

/* Tablet */
@media (max-width:992px){

.map-wrapper{
    height:65vh;
}

}

/* HP */
@media (max-width:768px){

.map-wrapper{
    height:60vh;
    border-radius:16px;
}

}

/* HP kecil */
@media (max-width:480px){

.map-wrapper{
    height:55vh;
    border-radius:14px;
}

}