.map-wrapper{

width:100%;

height:75vh;

border-radius:18px;

overflow:hidden;

border:1px solid #1f2937;

background:#111827;

box-shadow:0 0 25px rgba(0,0,0,.25);

}

.leaflet-map{

width:100%;

height:100%;

}

.leaflet-control-zoom{

border:none!important;

}

.leaflet-control-zoom a{

background:#111827!important;

color:white!important;

border:none!important;

}

.leaflet-control-scale-line{

background:#111827!important;

color:white!important;

border:none!important;

}

@media(max-width:992px){

.map-wrapper{

height:65vh;

}

}

@media(max-width:768px){

.map-wrapper{

height:60vh;

border-radius:15px;

}

}

@media(max-width:480px){

.map-wrapper{

height:55vh;

}

}