.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#0b1220;
    border-bottom:1px solid #1f2937;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    z-index:1000;
}

/* ================= */

.navbar-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-circle{
    width:52px;
    height:52px;
    border-radius:50%;
    background:linear-gradient(135deg,#16a34a,#22c55e);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.logo-text h1{
    margin:0;
    color:white;
    font-size:34px;
}

.logo-text span{
    color:#9ca3af;
    font-size:13px;
}

/* ================= */

.navbar-menu{
    display:flex;
    gap:28px;
}

.navbar-menu a{
    color:#d1d5db;
    text-decoration:none;
    font-weight:600;
    transition:.25s;
}

.navbar-menu a:hover{

color:#22c55e;

}

.navbar-menu a.active{

color:#22c55e;

}

/* ================= */

.navbar-right{

display:flex;

align-items:center;

gap:8px;

}

.online-dot{

width:10px;

height:10px;

background:#22c55e;

border-radius:50%;

}

/* ================= */

.menu-toggle{

display:none;

background:none;

border:none;

font-size:30px;

color:white;

}

/* ========================= */

@media(max-width:992px){

.logo-text h1{

font-size:28px;

}

.navbar-menu{

gap:18px;

}

}

/* ========================= */

@media(max-width:768px){

.navbar{

padding:0 18px;

height:80px;

}

.logo-text h1{

font-size:24px;

}

.logo-text span{

display:none;

}

.navbar-right{

display:none;

}

.menu-toggle{

display:block;

}

/* menu */

.navbar-menu{

position:absolute;

top:80px;

left:0;

width:100%;

background:#0b1220;

border-bottom:1px solid #1f2937;

display:none;

flex-direction:column;

padding:20px;

gap:18px;

}

.navbar-menu.open{

display:flex;

}

}

/* ========================= */

@media(max-width:480px){

.logo-circle{

width:42px;

height:42px;

font-size:20px;

}

.logo-text h1{

font-size:20px;

}

}