.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    background:#0b1220;
    border-bottom:1px solid #1f2937;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    z-index:1000;
}

/* =================== */

.navbar-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-circle{
    width:55px;
    height:55px;
    border-radius:50%;
    background:linear-gradient(135deg,#16a34a,#22c55e);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
}

.logo-text h1{
    color:white;
    margin:0;
    font-size:40px;
}

.logo-text span{
    color:#9ca3af;
    font-size:14px;
}

/* =================== */

.navbar-menu{
    display:flex;
    align-items:center;
    gap:32px;
}

.navbar-menu a{
    color:#d1d5db;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
    padding-bottom:6px;
}

.navbar-menu a:hover{
    color:#22c55e;
}

.navbar-menu a.active{
    color:#22c55e;
    border-bottom:3px solid #22c55e;
}

/* =================== */

.navbar-right{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
}

.online-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#22c55e;
}

/* =================== */

.menu-toggle{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

/* ===========================
        TABLET
=========================== */

@media(max-width:992px){

.logo-text h1{
    font-size:30px;
}

.navbar{
    padding:0 20px;
}

.navbar-menu{
    gap:18px;
}

}

/* ===========================
            HP
=========================== */

@media(max-width:768px){

.navbar{
    padding:15px 20px;
    height:auto;
    flex-wrap:wrap;
}

.logo-text h1{
    font-size:24px;
}

.logo-text span{
    font-size:11px;
}

.menu-toggle{
    display:block;
}

.navbar-right{
    display:none;
}

.navbar-menu{

    width:100%;

    display:none;

    flex-direction:column;

    align-items:flex-start;

    gap:18px;

    padding:20px 0;

}

.navbar-menu.open{
    display:flex;
}

.navbar-menu a{
    font-size:16px;
}

}

/* ===========================
        HP KECIL
=========================== */

@media(max-width:480px){

.logo-circle{

width:45px;

height:45px;

font-size:22px;

}

.logo-text h1{

font-size:20px;

}

.logo-text span{

display:none;

}

}