.sidebar{

    background:#111827;

    border:1px solid #1f2937;

    border-radius:18px;

    padding:22px;

    color:white;

    position:sticky;

    top:95px;

}

/* ===================== */

.sidebar-header{

    display:flex;

    align-items:center;

    gap:15px;

}

/* ===================== */

.sidebar-toggle{

    width:45px;

    height:45px;

    border:none;

    border-radius:12px;

    background:#22c55e;

    color:white;

    font-size:22px;

    font-weight:bold;

}

/* ===================== */

.sidebar h2{

    margin:0;

    font-size:28px;

}

.sidebar-subtitle{

    margin-top:5px;

    color:#9ca3af;

}

/* ===================== */

.sidebar hr{

    margin:25px 0;

    border:1px solid #1f2937;

}

/* ===================== */

.sidebar h3{

    color:#22c55e;

    margin-bottom:18px;

}

/* ===================== */

.check-item{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:16px;

    cursor:pointer;

}

/* ===================== */

.item{

    display:flex;

    justify-content:space-between;

    margin-bottom:16px;

}

.item strong{

    color:#22c55e;

}

/* ===================== */

.sidebar-note{

    color:#9ca3af;

    font-size:14px;

    line-height:1.7;

}

/* ===================== */

@media(max-width:992px){

.sidebar{

position:static;

}

}