.sidebar{

    background:#111827;

    border:1px solid #1f2937;

    border-radius:18px;

    padding:22px;

    color:white;

    width:100%;

    position:sticky;

    top:95px;

    transition:.3s;

}

/* ================= */

.sidebar-top{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:20px;

}

.sidebar-toggle{

    width:42px;

    height:42px;

    border:none;

    border-radius:10px;

    background:#22c55e;

    color:white;

    font-size:22px;

    cursor:pointer;

}

.sidebar h2{

    margin:0;

    font-size:28px;

}

.sidebar p{

    margin-top:5px;

    color:#9ca3af;

    font-size:14px;

}

/* ================= */

.sidebar hr{

    border:1px solid #1f2937;

    margin:22px 0;

}

.sidebar h3{

    color:#22c55e;

    margin-bottom:18px;

}

/* ================= */

.check{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:15px;

    cursor:pointer;

}

.check input{

    width:18px;

    height:18px;

}

/* ================= */

.item{

    display:flex;

    justify-content:space-between;

    margin-bottom:15px;

}

.item strong{

    color:#22c55e;

}

/* ================= */

@media(max-width:992px){

.sidebar{

position:relative;

top:0;

}

}