@import "tailwindcss";
/* ==========================
   NAVBAR SIDORA
========================== */

body{
    margin:0;
    background:#071019;
    font-family:Segoe UI,sans-serif;
    color:white;
}

.app{
    min-height:100vh;
}

.main-content{
    padding-top:85px;
}

.navbar{

    position:fixed;

    top:0;

    left:0;

    right:0;

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 45px;

    background:#0b1220;

    border-bottom:1px solid #1f2937;

    z-index:999;

}

.navbar-logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-circle{

    width:55px;

    height:55px;

    border-radius:50%;

    background:#1f8f5b;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}

.navbar-logo h2{

    margin:0;

    color:white;

    font-size:34px;

    font-weight:700;

}

.navbar-logo span{

    color:#9ca3af;

    font-size:13px;

}

.navbar-menu{

    display:flex;

    gap:35px;

}

.nav-item{

    color:#d1d5db;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

    padding-bottom:6px;

}

.nav-item:hover{

    color:#22c55e;

}

.nav-item.active{

    color:#22c55e;

    border-bottom:3px solid #22c55e;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:10px;

    color:#d1d5db;

    font-size:14px;

}

.online-indicator{

    width:10px;

    height:10px;

    background:#22c55e;

    border-radius:50%;

    animation:pulse 2s infinite;

}

@keyframes pulse{

0%{

box-shadow:0 0 0 0 rgba(34,197,94,.6);

}

70%{

box-shadow:0 0 0 10px rgba(34,197,94,0);

}

100%{

box-shadow:0 0 0 0 rgba(34,197,94,0);

}

}